*{
    margin: 0;
    padding: 0;
}
:root{
    --color-main: #07294d;
    --color-hover-text:#ffc600;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }
.menu_top{
    color: white;
    background-color: var(--color-main);
}
div.dropdown a:hover{
    color: var(--color-hover-text);
}
/* slider */
.slider{
    position: relative;
}
.prev{
    color: white;

    position: absolute;
    z-index: 1;
    right: 95%;
    top: 45%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}
.next{
    color: white;
    position: absolute;
    z-index: 1;
    right: 4%;
    top: 45%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}
.prev:hover , .next:hover {
    color: black;
    background-color: var(--color-hover-text);
    transition: .2s;
}
.carousel-item{
    position:relative;
    color:#fff;

}
.carousel-caption-title{
    max-width: 800px;
}
.carousel-caption{
    position: absolute;
    top: 27%;
    right: 37%;
}
.carousel-caption button{
    color:var(--color-main);
    background-color: white;
    width: 140px;
}
.carousel-caption button:hover{
    background-color: var(--color-hover-text);
    color:#fff;
}
/* platform */
.platform{
    background-color: var(--color-main);
    color: #fff;
    margin:0 auto;

    height: 340px;
    width:1240px;
    /* justify-content: center; */
    position:absolute;
    top: 100%;
    right:16%;
    border-radius: 15px;
    
    
}
.platform_slide{
    padding:20px;
    position: relative;
    width: 700px;
}
.platform_slide-item{
    height:170px;
    width:170px;
    padding:15px;
    margin:25px 10px;
    border-radius: 10px;
}
.platform_slide-item img{
    height:100px;
    width:100px;
    margin:auto;
    margin-bottom: 10px;

}
#programs{
    background-color: #b5d56a;
}
#events{
    background-color: #ff6f6f;
}
#admission{
    background-color: #4886ff;
}
#notice{
    background-color:#b5d56a;
}
.platform_slide-prev{
    position: absolute;
    z-index: 3;
    right: 56.5%;
    top: 46%;
    border-radius: 50%;
    padding: 5px;
    background-color: #557495;
}
.platform_slide-next{
    position: absolute;
    z-index: 3;
    right:1.1%;
    top: 46%;
    border-radius: 50%;
    padding: 5px;
    background-color: #557495;
}

/* about us */
.about_us{
    margin-top: 20px;
    background-color: #fefefe;
    padding: 200px;
}
#line{
    border: 2px solid var(--color-hover-text);
    width:50px;
    margin-bottom: 25px;
}
.about_us-left button:hover{
    background-color:var(--color-hover-text);
    color:white;
}
.about_us-title{
    width: 300px;
}
.about_us-sub{
    margin:20px 20px 20px 0px;
    font-size:1.1rem;
    color:gray;
}
.event_time{
    color: gray;
    line-height: 1.1rem;
}
.about_us-right{
    padding: 20px;
}
.about_us-right{
    background-color: #f9f9f9;
}
.about_us-right-item{
    padding:10px;

}
.about_us-right-item svg{
    color:var(--color-hover-text);
}
/* apply */
.apply, .feature_course{
    margin:0px 200px;
    background-color: rgb(241 245 249);
}
.btn-applynow{
    background-color:var(--color-hover-text);
    color:white;
    
}
.apply-item{
    background-color: var(--color-main);
    padding:60px;
    color: white;
}
.apply-right{
    background-color: #092e56;
}
/* feature_course */
.feature_course-item{
    background-color: rgb(248 250 252);
    padding:60px;
}
.feature_course-item svg{
    color:yellow;
}
.course-item-body{
    padding:15px;
}
.checked>svg{
    color: yellow;
    fill:yellow;
}
.name-course{
    font-weight:bold;
    font-size: 1.5rem;
    width:350px;
}
.course-data{
    margin:10px 0px;
}
.course-data>svg{
    color:black;
}
.avatar-teacher img{
    border-radius:50%;
}
.name-teacher, .major-teacher{
    font-weight: bold;
    color:var(--color-main);
}
.info-teacher-course{
    line-height: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
    margin:10px 0px;
}
.course-text-gray{
    color:gray;
}
.cost-course{
    font-weight:bold;
    margin:10px 0px;
}
.facilities{
    margin:30px 0px;
}
.facilities-right{
    padding:40px;
    color:white;
    background-color:var(--color-main);
}

/* teacher */
.teacher{
    background-color: #fff;
    margin:0px 200px;


}
.teacher button{
    color:var(--color-main);
}
.teacher button:hover{
    color:white;
}
.teacher-item img{
    border-radius: 15px;
}
.teacher-item{
    position:relative;
}
.info-teacher{
    position:absolute;
    background-color: #f9f9f9;
    text-align: center;
    top:70%;
    right:18%;
    padding:10px;
    width: 200px;
}

/* bookstore */
.main-feedback {
    background-image: url('/images/student_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}
.feedback-color {
    background-color: #072547;
    z-index: 1;
    opacity: 0.8;
}
.content-container .slick-list {
    padding-top: 35px;
}
.testimonial-thum img {
    border-radius: 3px;
    width: 92px;
    height: 92px;
    object-fit: cover;
}
.testimonial-cont p {
    color: #fff;
    padding-bottom: 24px;
    padding-right: 30px;
    padding-top: 10px;
}
.testimonial-cont .name {
    color: #fff;
    margin: 0;
    padding: 0 30px 4px 0;
    font-size: 18px;
    font-weight: 700!important;
    margin: 0;
}
.testimonial-thum .quote i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #FFC90E;
    border-radius: 50%;
    color: #07294d;
    font-size: 18px;
}

/* ------------- book store ---------------- */
.book-store {
    background-image: url('/images/featured_courses_background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 200px;
}
.main-book-store-row {
    padding: 100px 0 50px;
}
.price-book {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #212529;
}
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
}
.overlay ul {
    justify-content: center;
    height: 100%;
    align-items: center;
    visibility: hidden;
}
.thum:hover .overlay {
    z-index: 1;
    background-color: #072547;
    opacity: 0.8;
    transition: 0.5s;
    transition: 0.5s;
}
.thum:hover .overlay ul {
    opacity: 1;
    align-items: center;
    transition: 0.5s;
    visibility: visible;
}
.thum:hover .overlay li {
    margin: 0 5px;
    transition: 0.5s;
}
.overlay ul li {
    border: 1px solid #FFC90E;
    padding: 2px 7px;
    border-radius: 50%;
    color: #FFC90E;
    margin: 0 25px;

}
.overlay ul li i {
    font-size: 12px;
}
.main-book-store .slick-arroww:hover {
    background: #021D3A;
    color: #fff;
    transition: 0.5s;
}
/* ------------- main-new ---------------- */
.news {
    padding: 200px;
}
.single-news {
    color: #505050;
}
.news-thum img {
    height: 210px;
    /* transition: all .5s ease; */
    object-fit: cover;
    width: 100%;
}
.news-thum {
    height: 210px;
    overflow: hidden;
    margin-bottom: 20px;
}
.news-cont ul {
    padding-bottom: 15px;
    padding-left: 0;

}
.single-news .news-cont ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.news-cont ul li i {
    color: #FFC90E;
}
.news-title {
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #07294d;
}
.news-cont p {
    margin: 0 0 1.5em;
    padding: 0;
}
/* ------------- main-list icon ---------------- */
.main-list-icon {
    background-color: #f9f9f9;
    background-image: url("/images/featured_courses_background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 60px;
}
.swiper-slide img {
    margin: auto;
    width: 148px;
}
/* -footer */

.footer-top {
    background-color: #07294d;
}
.footer-wrap {
    padding: 70px 0 60px;
}
.footer-bot {
    background-color: #021d3a;
}
.footer-column {
    padding: 0 12px;
}
.ft-logo-content ul li {
    border-radius: 50%;
    background-color: #021D3A;
    margin-right: 12px;
}
.ft-logo-content ul li:hover i {
    color: #FFC90E;
    transition: 0.5s;
}
.ft-logo-content p {
    font-size: 16px;
    line-height: 24px;
    color: #edf0f2;
    margin-bottom: 20px;
    padding-right: 15px;
}
.ft-link {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 25px;
}

.footer-links ul li a {
    color: #edf0f2;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
}
.footer-links ul li:hover a {
    margin-left: 10px;
    color: #FFC90E;
    transition: 0.5s;
}
.footer-links ul li {
    padding: 4px 0 4px 0;
    list-style: none;
    color: #edf0f2;
    vertical-align: top;
    position: relative;
}
.footer-links ul li i {
    padding-right: 4px;
    color: #FFC90E;
}
.footer-contact p {
    font-size: 16px;
    line-height: 24px;
    color: #edf0f2;
    margin-bottom: 20px;
}
.edubin-quickinfo {
    color: #edf0f2;
}
.edubin-quickinfo i {
    margin-right: 10px;
}
.site-info {
    font-size: 15px;
    margin: 0;
    color: #fff;
}
.footer-bot li {
    position: relative;
    margin-left: 5px;
    font-size: 15px;
}
.footer-bot ul li a {
    border-radius: 40px;
    color: #edf0f2;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
}
.footer-bot ul li a:hover {
    color: #FFC90E;
    transition: 0.5s;
}
.footer-bot ul li:before {
    position: absolute;
    height: 11px;
    width: 1px;
    background: #edf0f2;
    content: "";
    right: 3px;
    top: 5px;
}
.footer-bot .end:before {
    background: none;
}
