*{
    margin: 0;
    padding: 0;
}
:root{
    --color-main: #07294d;
    --color-hover-text:#ffc600;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }
.menu_top{
    color: white;
    background-color: var(--color-main);
}
div.dropdown a:hover{
    color: var(--color-hover-text);
}
/* slider */
.slider{
    position: relative;
}
.prev{
    color: white;

    position: absolute;
    z-index: 1;
    right: 95%;
    top: 45%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}
.next{
    color: white;
    position: absolute;
    z-index: 1;
    right: 4%;
    top: 45%;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}
.prev:hover , .next:hover {
    color: black;
    background-color: var(--color-hover-text);
    transition: .2s;
}
.carousel-item{
    position:relative;
    color:#fff;

}
.carousel-caption-title{
    max-width: 800px;
}
.carousel-caption{
    position: absolute;
    top: 27%;
    right: 37%;
}
.carousel-caption button{
    color:var(--color-main);
    background-color: white;
    width: 140px;
}
.carousel-caption button:hover{
    background-color: var(--color-hover-text);
    color:#fff;
}
/* platform */
.platform{
    background-color: var(--color-main);
    color: #fff;
    margin:0 auto;

    height: 340px;
    width:1240px;
    /* justify-content: center; */
    position:absolute;
    top: 100%;
    right:16%;
    border-radius: 15px;
    
    
}
.platform_slide{
    padding:20px;
    position: relative;
    width: 700px;
}
.platform_slide-item{
    height:170px;
    width:170px;
    padding:15px;
    margin:25px 10px;
    border-radius: 10px;
}
.platform_slide-item img{
    height:100px;
    width:100px;
    margin:auto;
    margin-bottom: 10px;

}
#programs{
    background-color: #b5d56a;
}
#events{
    background-color: #ff6f6f;
}
#admission{
    background-color: #4886ff;
}
#notice{
    background-color:#b5d56a;
}
.platform_slide-prev{
    position: absolute;
    z-index: 3;
    right: 56.5%;
    top: 46%;
    border-radius: 50%;
    padding: 5px;
    background-color: #557495;
}
.platform_slide-next{
    position: absolute;
    z-index: 3;
    right:1.1%;
    top: 46%;
    border-radius: 50%;
    padding: 5px;
    background-color: #557495;
}

/* about us */
.about_us{
    margin-top: 20px;
    background-color: #fefefe;
    padding: 200px;
}
#line{
    border: 2px solid var(--color-hover-text);
    width:50px;
    margin-bottom: 25px;
}
.about_us-left button:hover{
    background-color:var(--color-hover-text);
    color:white;
}
.about_us-title{
    width: 300px;
}
.about_us-sub{
    margin:20px 20px 20px 0px;
    font-size:1.1rem;
    color:gray;
}
.event_time{
    color: gray;
    line-height: 1.1rem;
}
.about_us-right{
    padding: 20px;
}
.about_us-right{
    background-color: #f9f9f9;
}
.about_us-right-item{
    padding:10px;

}
.about_us-right-item svg{
    color:var(--color-hover-text);
}
/* apply */
.apply, .feature_course{
    margin:0px 200px;
    background-color: rgb(241 245 249);
}
.btn-applynow{
    background-color:var(--color-hover-text);
    color:white;
    
}
.apply-item{
    background-color: var(--color-main);
    padding:60px;
    color: white;
}
.apply-right{
    background-color: #092e56;
}
/* feature_course */
.feature_course-item{
    background-color: rgb(248 250 252);
    padding:60px;
}
.feature_course-item svg{
    color:yellow;
}
.course-item-body{
    padding:15px;
}
.checked>svg{
    color: yellow;
    fill:yellow;
}
.name-course{
    font-weight:bold;
    font-size: 1.5rem;
    width:350px;
}
.course-data{
    margin:10px 0px;
}
.course-data>svg{
    color:black;
}
.avatar-teacher img{
    border-radius:50%;
}
.name-teacher, .major-teacher{
    font-weight: bold;
    color:var(--color-main);
}
.info-teacher-course{
    line-height: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
    margin:10px 0px;
}
.course-text-gray{
    color:gray;
}
.cost-course{
    font-weight:bold;
    margin:10px 0px;
}
.facilities{
    margin:30px 0px;
}
.facilities-right{
    padding:40px;
    color:white;
    background-color:var(--color-main);
}